{% extends "base.html" %}

{% block head_content %}
<title> Clínica Dental Adolf Dental Care Medical Records Feed Doctors </title>
{% endblock %}

{% block container %}

<style>
    table,
    form {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 100px 0 0 25px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    body {
        overflow: hidden;
    }

    .container-2 {
        margin: 50px 0 0px 25px;
        padding-left: 43%;
    }
</style>

<div class="container">
    <div class="row">

        <table>

            <tr>
                <th> Pacient </th>
                <th> DNI </th>
                <th> Age </th>
                <th> Birthday </th>
                <th> Marital Status </th>
                <th> Nacionality </th>
                <th> Address </th>
                <th> Consultations </th>
            </tr>

            {% for record in records %}
                {% for consultation in consultations %}
                    {% if record.user_id == consultation.user_id %}
                    <tr>
                        {% for user in users %}
                        {% if user.pk == record.user_id %}
                        <td>
                            {{ user.get_full_name }}
                        </td>
                        {% endif %}
                        {% endfor %}
                        <td>
                            {{ record.dni }}
                        </td>
                        <td>
                            {{ record.age }}
                        </td>
                        <td>
                            {{ record.birthday }}
                        </td>
                        <td>
                            {{ record.marital_status }}
                        </td>
                        <td>
                            {{ record.nacionality }}
                        </td>
                        <td>
                            {{ record.address }}
                        </td>
                        <td>
                            <a href="{% url 'medical_records:feed_consultations' consultation.user_id %}" class="btn btn-info"> Check </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </table>

    </div>
</div>

{% endblock %}